RewriteEngine On
#301 Redirect subfolder1 to root
RewriteCond %{ENV:REDIRECT_STATUS} ^$
RewriteRule ^public/(.*)$ /$1 [L,R=301]
#rewrite root to subfolder
#including all files and folders
#exclude the destination folder
RewriteCond %{REQUEST_URI} !^/public [NC]
RewriteRule ^(.*)$ /public/$1 [L]